.top-header{
height: 40px;
padding-top: 10px;
position: fixed !important;
top:0px
}
.header-logo{
    height: 37px;
    margin-top: 9px;
    margin-left: 274px;
}
.site-position{
    top:35px;
    position: fixed !important;
    width: 100% !important;
}

.home-text{
    font-family: sans-serif;
    text-align: left;
    margin-left: 190px;
    /* font-weight: bolder; */
    font-size: 40px;
    max-width: 486px;
    /* margin: auto; */
    margin-top: 50px;
    font-weight: 900;
    /* line-height: 88px; */
    padding: 2px;
    /* height: 378px;  */
}
.home-page-subtitle{
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    max-width: 453px;
    margin-left: 195px!important;
    font-size: 16px;
    color: #000000;
  
}
.contact-text{
    font-family: sans-serif;
    text-align: left;
    font-weight: 900;
    font-size: 63px;
    max-width: 746px;
    margin: auto;
    margin-top: 40px;
    font-style: normal;
    line-height: 88px;
    width: 903px;
    height: 176px;
}
.get-in-text{
    margin-left: 178px !important;
    font-family: Space Mono;
    font-style: normal;
    font-size: 36px;
    line-height: 53px;
    text-decoration-line: underline;
    color: #CFA140;
}
.Thanks{
    font-family: sans-serif;
    margin-top: 170px;
    margin-left: 169px;
    font-size: 24px;
    color: #000000;
}
.icon{
    vertical-align: middle;
    border-style: none;
    height: 50px;
}
.cup-image{
    margin-left: 130px;
    margin-top: 121px;
}
.text3{
    font-family: sans-serif;
    margin-top: 119px;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: 59px;
    width: 279;
    height: 118px;
}
.about-list{
    margin-left: 149px;
    margin-top: 35px;
}
.bit{
    margin-left: 162px;
    height: 105px;
    margin-top: 81px;
}
.text4{
    margin-top: 94px;
    font-size: 23px;
}
.color1{
    color: peru;
}
.text5{
    margin-top: 33px;
    margin-left: -98px;
    font-size: 15px;
}
.bottom-text{
    margin-left: -98px;
    margin-top: 47px;
}
.margin-class{
    padding-top:100px;
}
.margin-topclass{
    padding-top:50px;
    position: relative;
}
.main-slider{
    display:none;
}

.prev{
    cursor: pointer;
    position: absolute;
    top: 64%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0px;
    background-color: black;
    opacity: 0.4;
    margin-left: 125px;
  }
.prev:hover {
    background-color:green !important;
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0px;
    background-color: black;
    opacity: 0.4;
    
  }
  .next:hover {
    background-color: green !important;
  } 